{{ define "content" }}
<div class="page-header">
    <h1>GyuLog - Byeong Gyu's dev blog</h1>
</div>

{{ range . }}
<article class="home">
    <span class="post-date">
        {{ .PublishedDate }}
    </span>
    <h2>
        <a href="/post?{{ .Id }}">{{ .Title }}</a>
    </h2>
    <div>
        {{ .Summary }}
    </div>
</article>
{{ end }}
{{ end }}

{{ define "pager" }}
<ul class="pager">
    {{ if lt .Previous 0}}
    <li class="previous disabled">
        <a>&larr; Newer Posts</a>
    </li>
    {{ else }}
    <li class="previous">
        <a href="/?{{ .Previous }}">&larr; Newer Posts</a>
    </li>
    {{ end }}
    <li>
        <span class="page_number">Page {{ .Next }}</span>
    </li>
    {{ if gt .Next .Limit}}
    <li class="next disabled">
        <a>Older Posts &rarr;</a>
    </li>
    {{ else }}
    <li class="next">
        <a href="/?{{ .Next }}">Older Posts &rarr;</a>
    </li>
    {{ end }}
</ul>
{{ end }}