{{ define "mobile" }}
<nav class="navbar navbar-default visible-xs" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a type="button" class="navbar-toggle nav-link" href="mailto:bisschoi9541@gmail.com">
            <i class="fa fa-envelope fa-lg"></i>
        </a>
        <a type="button" class="navbar-toggle nav-link" href="http://github.com/gyukebox">
            <i class="fa fa-github-alt fa-lg"></i>
        </a>
        <a type="button" class="navbar-toggle nav-link" href="https://www.facebook.com/gyukebox">
            <i class="fa fa-facebook fa-lg"></i>
        </a>
        <!-- 링크 수정 필요할 수 있음 -->
        <a class="navbar-brand" href="/">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15135948_918161824980506_1839427576752821065_n.jpg?oh=c3e8202c897a1cfcf6069d2757d87070&oe=59FF26E0" class="img-circle" height="35" width="35" /> GyuLog
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="">Categories</a></li>
            <li><a href="">Tags</a></li>
            <li><a href="/admin"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
{{ end }}

{{ define "navbar" }}
<!-- nav-menu-dropdown -->
<div class="btn-group hidden-xs" id="nav-menu">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="/admin"><i class="fa fa-user" aria-hidden="true"></i>Admin</a></li>
        <li class="divider"></li>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <!-- 링크 수정 필요 -->
        <li><a href=""><i class="fa fa-folder"></i>Categories</a></li>
        <li><a href=""><i class="fa fa-tags"></i>Tags</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-arrow-up"></i>Top of Page</a></li>
    </ul>
</div>
{{ end }}

{{ define "sidebar" }}
<div class="col-sm-3 sidebar hidden-xs" style="">
    <!-- sidebar.html -->
    <header class="sidebar-header" role="banner">
        <a href="/">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15135948_918161824980506_1839427576752821065_n.jpg?oh=c3e8202c897a1cfcf6069d2757d87070&oe=59FF26E0&" class="img-circle" height="150" width="150" />
        </a>
        <h3 class="title">
            <a href="/">Byeong Gyu Choi</a>
        </h3>
    </header>

    <div class="text-center">
        <p>음악과 야경을 좋아하는 개발자입니다 <br /> Life := code + music + beer</p>
    </div>

    <br />

    <div id="contact-list" class="text-center">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-default btn-sm" href="https://github.com/gyukebox">
                    <i class="fa fa-github-alt fa-lg"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-sm" href="https://www.facebook.com/gyukebox">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-sm" href="mailto:bisschoi9541@gmail.com">
                    <i class="fa fa-envelope fa-lg"></i>
                </a>
            </li>
            <!--
            <li>
                <a class="btn btn-default btn-sm" href="../feed.xml">
                    <i class="fa fa-rss fa-lg"></i>
                </a>
            </li>
            -->
        </ul>
    </div>

    <div class="text-center">
        <h3>Likes</h3>
        <ul class="list-unstyled likes list">
            <li>배워서 남주기</li>
            <li>Golang</li>
            <li>Python</li>
            <li>Cloud Computing</li>
            <li>Machine Learning</li>
            <li>Open Source</li>
        </ul>
        <h3>Dislikes</h3>
        <ul class="list-unstyled likes list">
            <li>Java</li>
            <li>Frontend</li>
        </ul>
    </div>
    <!-- sidebar.html end -->
</div>
{{ end }}