{{ define "content" }}
<div class="page-header">
    <h1>{{ .Title }}</h1>
</div>
<article>
    <div class="col-sm-10">
        <span class="post-date">
            {{ .PublishedDate }}
        </span>
        <div class="article_body">
            {{ .Summary }}
            {{ .Body }}

            <div class="clearfix"></div>
        </div>

        <ul class="tag_box list-unstyled list-inline">
            <li><i class="fa fa-folder-open"></i></li>
            <li><a href="/dbyll/categories.html#general-ref">
                general <span>(4)</span>
                ,
            </a></li>
            <li><a href="/dbyll/categories.html#demo-ref">
                demo <span>(4)</span>
            </a></li>
        </ul>
        <ul class="list-inline">
            <li><i class="fa fa-tags"></i></li>
            <li>
                <a href="/dbyll/tags.html#demo-ref">
                    demo <span>(4)</span>
                    ,
                </a>
            </li>
            <li>
                <a href="/dbyll/tags.html#dbyll-ref">
                    dbyll <span>(4)</span>
                    ,
                </a>
            </li>
            <li>
                <a href="/dbyll/tags.html#dbtek-ref">
                    dbtek <span>(4)</span>
                </a>
            </li>
        </ul>

        <hr>
        <div>
            <section class="share col-sm-6">
                <h4 class="section-title">Share Post</h4>
                <a class="btn btn-default btn-sm twitter" href="http://twitter.com/share?text=Sample&via=dbtek"
                   onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="fa fa-twitter fa-lg"></i>
                    Twitter
                </a>
                <a class="btn btn-default btn-sm facebook" href="https://www.facebook.com/sharer/sharer.php"
                   onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <i class="fa fa-facebook fa-lg"></i>
                    Facebook
                </a>
                <a class="btn btn-default btn-sm gplus"
                   onclick="window.open('https://plus.google.com/share?url='+window.location.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <i class="fa fa-google-plus fa-lg"></i>
                    Google+
                </a>
            </section>

            <section class="col-sm-6 author">
                <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15135948_918161824980506_1839427576752821065_n.jpg?oh=c3e8202c897a1cfcf6069d2757d87070&oe=59FF26E0"
                     class="img-rounded author-image" height="80" width="80"/>
                <h4 class="section-title author-name">Byeong Gyu</h4>
                <p class="author-bio">want-to-be Extreme Gopher</p>
            </section>
        </div>
        {{ end }}

        {{ define "pager" }}
        <ul class="pager">
            {{ if le .Previous 0 }}
            <li class="previous disabled">
                <a>&larr;Previous</a>
            </li>
            {{ else }}
            <li class="previous">
                <a href="/post?{{ .Previous }}">&larr;Previous</a>
            </li>
            {{ end }}
            {{ if gt .Next .Total }}
            <li class="next disabled">
                <a>Next&rarr;</a>
            </li>
            {{ else }}
            <li class="next">
                <a href="/post?{{ .Next }}">Next&rarr;</a>
            </li>
            {{ end }}
        </ul>

        <hr>
        <section class="comments" style="margin-top:15px;">
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://gyuveloper-com.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                by Disqus.</a></noscript>

        </section>
    </div>

    <div class="col-sm-2 sidebar-2">
    </div>
    <div class="clearfix"></div>
</article>
{{ end }}