{{ define "sidebar" }}
<div class="col-sm-3 sidebar hidden-xs" style="">
    <!-- sidebar.html -->
    <header class="sidebar-header" role="banner">
        <a href="index.html">
            <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15135948_918161824980506_1839427576752821065_n.jpg?oh=c3e8202c897a1cfcf6069d2757d87070&oe=59FF26E0&" class="img-circle" height="150" width="150" />
        </a>
        <h3 class="title">
            <a href="index.html">Byeong Gyu Choi</a>
        </h3>
    </header>

    <div class="text-center">
        자기소개는 진짜 어렵다...
    </div>

    <br />

    <div id="contact-list" class="text-center">
        <ul class="list-unstyled list-inline">
            <li>
                <a class="btn btn-default btn-sm" href="https://github.com/gyukebox">
                    <i class="fa fa-github-alt fa-lg"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-sm" href="https://www.facebook.com/gyukebox">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-sm" href="mailto:bisschoi9541@gmail.com">
                    <i class="fa fa-envelope fa-lg"></i>
                </a>
            </li>
            <li>
                <a class="btn btn-default btn-sm" href="../feed.xml">
                    <i class="fa fa-rss fa-lg"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="text-center">
        <h3>Likes</h3>
        <ul class="list-unstyled likes list">
            <li>배워서 남주기</li>
            <li>Go</li>
            <li>Python</li>
            <li>Cloud Computing</li>
        </ul>
        <h3>Dislikes</h3>
        <ul class="list-unstyled likes list">
            <li>Anything with Java</li>
        </ul>
    </div>
    <!-- sidebar.html end -->
</div>
{{ end }}